.o_job_batch_navbar_item {
<<<<<<< HEAD
=======

>>>>>>> upstream/12.0
    .o_notification_counter {
        margin-top: -0.8rem;
        margin-right: 0;
        margin-left: -0.6rem;
        background: $o-enterprise-primary-color;
        color: white;
        vertical-align: super;
        font-size: 0.7em;
    }
    .o_job_batch_navbar_dropdown {
        width: 350px;
        padding: 0;
    }
    .o_view_all_batch_jobs {
        padding: 5px;
    }
    .o_job_queue_failed {
        color: red;
    }
    .o_job_queue_finished {
        color: green;
    }
    .o_job_queue_progress {
        color: gray;
    }
    .o_progressbar_complete {
        &.o_queue_job_finished_progressbar {
<<<<<<< HEAD
            background-color: green;
            float: left;
        }

        &.o_queue_job_failed_progressbar {
            background-color: red;
            float: right;
=======
            background-color:green;
            float:left;
        }

        &.o_queue_job_failed_progressbar {
            background-color:red;
            float:right;
>>>>>>> upstream/12.0
        }
    }
}
